@import "custom";

.ancestry-page {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	overflow-y: scroll;
	padding-bottom: 3rem;

	section {
		padding: 1.563rem;
		width: 100%;

		.index {
			display: none;
		}

		.content {
			font-family: $lora;
			padding: 3rem 1.5rem 4rem;

			.introduction {
				color: $pathfinder-blue;
				font-style: italic;
				font-size: 1.25rem;
			}

			p {
				margin: 0.313rem 0 1rem;
				text-align: justify;
				text-justify: inter-word;
			}

			h2 {
				font-family: $roboto-condensed;
				font-weight: 700;
				color: $pathfinder-blue;
				text-transform: uppercase;
				margin: 2rem auto 0;
			}

			ul {
				margin-top: 0.3125rem;
				list-style: none;

				li {
					&::before {
						content: "\21A0"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
						color: $pathfinder-blue; /* Change the color */
						font-weight: bold; /* If you want it to be bold */
						display: inline-block; /* Needed to add space between the bullet and the text */
						width: 1em; /* Also needed for space (tweak if needed) */
						margin-left: -1em; /* Also needed for space (tweak if needed) */
					}
				}
			}

			/* Featured */
			.featured {
				background-color: $pathfinder-light-blue;
				padding: 1.563rem;
				width: 100%;
				box-shadow: 0 0 10px rgba(32, 32, 32, 0.5);

				h2{
					margin:0;
				}
			}

			/* Accordion */
			.accordion{
				position: relative;
				margin-bottom: 1rem;

				label{
					background-color: $pathfinder-blue;
					color:$pathfinder-yellow;
					padding:1em;
					position: relative;
					cursor: pointer;
					display: flex;
					align-items: center;
					font-family: $roboto;
					font-weight: 500;

					&::before{
						content:"\21A0";
						font-size: 2rem;
						padding-right: 0.625rem;
						display: inline-block;
					}
				}

				input{
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					width: 100%;
					opacity:0;
					visibility: hidden;

					&:checked ~ label::before{
						content:"\21A1";
					}

					&:checked ~ label ~ .content{
						max-height:700px;
					}
				}

				.content{
					max-height:0;
					overflow: hidden;
					transition:max-height 0.5s;
					background-color: $pathfinder-light-blue;
					box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
					padding: 0;

					h3{
						padding: 0 2em;
						color: $pathfinder-blue;
						text-transform: uppercase;
						font-family: $roboto-condensed;
					}

					.text {
						margin: 0;
						padding:2em;
					}

					.text-two{
						padding: 0 2rem 2rem;
					}

					.spell{
						padding:0 2em 2rem;
					}
				}

			}

			/* Flex column */
			.flex-column{
				display: flex;
				flex-direction: column;
				gap: 1rem;
				align-items: flex-start;
				justify-content: center;

				.featured{
					width: 100%;
				}
			}

			/* image */
			figure{
				width: 30rem;
				overflow: hidden;
				position: relative;
				margin: 0;
				padding: 0;

				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				figcaption{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					width: 100%;
					text-align: center;
					font-family: $roboto;
					z-index: 2;
					display: none;
				}

				button{
					position: absolute;
					top: 65%;
					left: 50%;
					transform: translate(-50%,-50%);
					text-align: center;
					font-family: $roboto;
					z-index: 2;
					padding: 0.75rem;
					border-radius: 1.5rem;
					background-color: transparent;
					border: $pathfinder-red solid 1px;
					color: $pathfinder-red;
					cursor: pointer;
					display: none;

					&:hover,&:focus{
						background-color: $pathfinder-red;
						color: #FFFFFF;
					}
				}
			}

			.censored{
				position: relative;

				img {
					filter: blur(1rem);
				}

				figcaption{
					display: initial;
				}

				button{
					display: initial;
				}

				&:after{
					width: 100%;
					height: 100%;
					background-color: $pathfinder-light-blue;
					position: absolute;
					top: 0;
					left: 0;
					content: "";
					opacity: 0.5;
					z-index: 1;
				}
			}

			/* Tables */
			table{
				width: 100%;
				font-family: $roboto;

				th,td{
					padding: 0.5rem;
				}

				tbody tr:nth-child(even) {
					background-color: #F0EBDF;
				}

				tbody tr:nth-child(odd) {
					background-color: #E0DACB;
				}

				thead,
				tfoot {
					background-color: $pathfinder-red;
					color: #fff;
				}

			}

			/* Important information */
			.relevant{
				background-color: $pathfinder-red;
				padding: 1.5rem;
				border-radius: 1rem;

				h2{
					color: $pathfinder-yellow;
				}

				p, span{
					color: #FFFFFF;
				}

				.tags{
					span{
						background-color: $pathfinder-yellow;
						color: $pathfinder-red;
					}
				}

				.spell {
					.spell-description {
							color: #FFFFFF;

					}
				}

				ul{
					li {
						color: #FFFFFF;
						&::before {
							color: $pathfinder-yellow; /* Change the color */
						}
					}
				}

				h4{
					color: #FFFFFF;
					border-bottom: $pathfinder-yellow 1px solid;
				}
			}

			/* Feats */
			.feat-section{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;

				.feat-filter{
					display: flex;
					align-items: center;
					justify-content: flex-start;
					flex-wrap: wrap;
					gap: 0.625rem;
					padding: 1rem 0;

					button{
						padding: 0.55rem 0.5rem 0.5rem;
						border: $pathfinder-red solid 2px;
						border-radius: 0.625rem;
						background-color: transparent;
						font-family: $roboto;
						color: $pathfinder-red;
						font-weight: 500;
						text-transform: uppercase;
						font-size: 0.85rem;
						cursor: pointer;
					}
				}

				.feat-list{
					height: 31.25rem;
					overflow-y: scroll;
					border-top: 2px solid $pathfinder-red;
					border-bottom: 2px solid $pathfinder-red;
					padding: 1rem;
					width: 100%;

					.no-feats{
						display: block;
						width: 100%;
						text-align: center;
					}

				}
			}
		}
	}
}

@media screen and (min-width: $tablet) {
	.ancestry-page {
		section {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
			gap: 2rem;
			max-width: 55rem;

			.content {
				font-family: $lora;
				padding: 3rem 0 4rem;

				.introduction {
					color: $pathfinder-blue;
					font-style: italic;
					font-size: 1.25rem;
					text-align: left;

				}

				.flex-column{
					flex-direction: row;
					gap: 2rem;
					margin-top: 1.5rem;

					div{
						width: calc(100% - 20.75rem);

						h2{
							margin-top: 0;
						}
					}
				}
			}
		}
	}
}