@charset "UTF-8";
/* MEDIA BREAKPOINTS */
/* 600px */
/* 768px */
/* 960px; */
/* 1280px; */
/* 1800px */
/* Table */
table {
  width: 100%;
  font-family: "Roboto", sans-serif;
}
table th {
  padding: 1rem;
}
table td {
  padding: 0.75rem;
}
table tbody tr:nth-child(even) {
  background-color: #F0EBDF;
}
table tbody tr:nth-child(odd) {
  background-color: #E0DACB;
}
table thead,
table tfoot {
  background-color: #560c06;
  color: #fff;
}

/* Lists */
ul {
  margin-top: 0.3125rem;
  list-style: none;
}
ul li::before {
  content: "↠";
  color: #0a2760;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.class {
  padding: 1.5rem 1.5rem 5rem;
  /* Header */
  /* Content */
  /* Images */
  /* Featured */
  /* Feat */
  /* Columns */
  /* Table */
  /*  Search */
  /*  Feats */
}
.class header {
  position: relative;
  margin-bottom: 4.5rem;
}
.class header h1 {
  color: #560c06;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  margin: 1rem 0 0;
}
.class header i {
  color: #0a2760;
}
.class header .introduction {
  background-color: #202020;
  padding: 2rem 2rem 4.5rem;
  border-radius: 1rem;
  color: #FFFFFF;
  text-align: left;
}
.class header figure {
  width: 6rem;
  overflow: hidden;
  margin: 0;
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
}
.class header figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.class p {
  text-align: justify;
  margin-top: 0.625rem;
  font-family: "Lora", serif;
}
.class h2, .class h3, .class h4 {
  color: #560c06;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0 0;
}
.class h3 {
  border-bottom: solid #560c06 1px;
  margin-top: 1.75rem;
}
.class h4 {
  color: #a76652;
  margin-top: 1.75rem;
}
.class ul li {
  padding: 0 0 0.625rem;
}
.class figure {
  margin: 0;
  padding: 0;
  width: 100%;
}
.class figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.class .figure-one {
  margin: 2rem auto;
}
.class .featured,
.class .featured-two {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 1rem;
}
.class .featured {
  background-color: #560c06;
}
.class .featured h2 {
  color: #d5c48c;
}
.class .featured b,
.class .featured p {
  color: #FFFFFF;
}
.class .featured-two {
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.class .feat {
  background-color: #FFFfff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.class .columns {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.class .columns p {
  text-align: left;
}
.class table th:nth-child(even) {
  text-align: left;
}
.class table td:first-child {
  text-align: center;
}
.class table a {
  color: #560c06;
}
.class table li {
  list-style: none;
  padding: 0.3125rem;
}
.class form {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}
.class form .visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.class form input {
  width: 100%;
  border: none;
  padding: 1rem;
  height: 2.5rem;
  outline: none;
  color: #202020;
  font-family: "Roboto", sans-serif;
}
.class form svg {
  position: absolute;
  right: 2.226rem;
  top: 0.75rem;
  color: #0a2760;
  pointer-events: none;
}
.class .feat-list {
  height: 31.25rem;
  overflow-y: scroll;
  border-top: 2px solid #560c06;
  border-bottom: 2px solid #560c06;
  padding: 1rem;
  width: 100%;
}
.class .feat-list .no-feats {
  display: block;
  width: 100%;
  text-align: center;
}
.class .feat-list .feat {
  border-radius: 0;
  box-shadow: none;
}
.class .feat-list .feat .headline h4 {
  color: #202020;
}
.class .feat-list .feat i {
  color: #0a2760;
}
.class .feat-list .feat img {
  height: 1.2rem;
}

@media screen and (min-width: 48rem) {
  .class {
    max-width: 65rem;
    margin: 0 auto;
    /* Header */
    /* Content */
    /* Columns */
    /* Flex columns */
  }
  .class header .introduction {
    width: 80%;
    max-width: 50rem;
    margin: 1rem auto 0;
  }
  .class .featured {
    flex-direction: row;
    align-items: center;
    gap: 5rem;
  }
  .class .featured h2 {
    margin: 1rem 0;
  }
  .class .columns {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
  }
  .class .columns .column-actions {
    width: 25%;
  }
  .class .flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .class .reverse {
    flex-direction: row-reverse;
  }
}

/*# sourceMappingURL=ClassPage.css.map */
