$pathfinder-blue: #0a2760
$pathfinder-light-blue: #d1d3d4
$pathfinder-yellow: #d5c48c
$pathfinder-red: #560c06
$lora: 'Lora', serif
$roboto: 'Roboto', sans-serif
$roboto-condensed: 'Roboto Condensed', sans-serif

/* MEDIA BREAKPOINTS */

$mobile: 37.5rem
/* 600px */
$tablet: 48rem
/* 768px */
$desktop-small: 60rem
/* 960px; */
$desktop: 80rem
/* 1280px; */
$desktop-standard: 112.5rem
/* 1800px */
