@import "custom";

nav {
	background-color: $pathfinder-blue;
	height: 4.063rem;
	width: 100%;

	/* Checkbox */
	#menuToggle {
		display: flex;
		flex-direction: column;
		position: relative;
		top: 1.563rem;
		left: 1.563rem;
		z-index: 1;
		-webkit-user-select: none;
		user-select: none;

		input {
			display: flex;
			width: 40px;
			height: 32px;
			position: absolute;
			cursor: pointer;
			opacity: 0;
			z-index: 2;

			&:checked ~ span {
				opacity: 1;
				transform: rotate(45deg) translate(-3px, -1px);
				background: $pathfinder-blue;

				&:nth-last-child(3) {
					opacity: 0;
					transform: rotate(0deg) scale(0.2, 0.2);
				}

				&:nth-last-child(2) {
					transform: rotate(-45deg) translate(0, -1px);
				}
			}

			&:checked ~ ul {
				transform: none;
			}
		}

		span {
			display: flex;
			width: 1.875rem;
			height: 2px;
			background: $pathfinder-yellow;
			margin-bottom: 5px;
			position: relative;
			z-index: 1;
			transform-origin: 5px 0;
			transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0),
			background 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0),
			opacity 0.3s ease;

			&:first-child {
				transform-origin: 0 0;
			}

			&:nth-last-child(2) {
				transform-origin: 0 100%;
			}
		}
	}

	/* Menu list */
	#menu {
		position: absolute;
		width: 15rem;
		height: 100vh;
		box-shadow: 0 0 10px #202020;
		margin: -3.125rem 0 0 -3.125rem;
		padding: 7.813rem 3.125rem 3.125rem;
		background-color: $pathfinder-yellow;
		-webkit-font-smoothing: antialiased;
		transform-origin: 0 0;
		transform: translate(-100%, 0);
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
		list-style-type: none;

		li {
			padding: 10px 0;
			transition-delay: 3s;

			a {
				text-decoration: none;
				font-family: $roboto;
				text-transform: uppercase;
				color: $pathfinder-blue;
				opacity: 1;
				font-size: 1.5em;
				transition: 300ms;

				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
}

@media screen and (min-width: $tablet){
	nav{
		height: 100vh;
		width: 15rem;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		background-color: transparent;

		#menuToggle{
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			input, span{
				display: none;
			}
		}
		#menu {
			position: static;
			margin: 0;
			padding: 3.125rem 1.563rem 1.563rem;
			transform: none;
			width: 100%;
			background-color: $pathfinder-blue;
			li{
				a{
					color: $pathfinder-yellow;
				}

				a.active{
					color: #FFFFFF;
				}
			}
		}
	}
}
