@import "custom";

.spell{
	width: 100%;
	margin: 1rem 0 1.25rem;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 0.938rem;

	.level{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap:0;
		background-color: #202020;
		padding: 0.625rem;
		border-radius: 0.5rem;

		h4{
			padding: 0;
			font-weight: 500;
			color: #ffffff;
			font-size: 1rem;
		}

		p{
			color: #ffffff;
			margin: 0;
			text-transform: uppercase;
			font-weight: 500;
			font-family: $roboto;
			font-size: 0.75rem;
		}
	}

	.title{
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #202020;
		width: 100%;

		div{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap:0.625rem;

		}
	}
		h4{
			margin: 0;
			padding: 0 0 0.313rem;
			font-family: $roboto-condensed;
			text-transform: uppercase;
			font-size: 1.25rem;
			color: #202020;

		}

		img{
			padding-left: 0.313rem;
			height: 1rem;
		}

	.hidden{
		display: none;
	}

	.tags{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 0 0.625rem;

		span{
			background-color: $pathfinder-blue;
			text-transform: uppercase;
			font-family: $roboto;
			font-weight: bold;
			color: #FFFFFF;
			font-size: 0.85rem;
			margin-top: 0.625rem;
			padding: 0.313rem;
		}
	}

	.spell-description{
		text-justify: inter-word;
		text-align: justify;
		padding: 0.5rem 0 1rem;

		span{
			padding: 0;
		}
		.frequency{
			display: block;
			width: 100%;
			border-bottom: 1px solid #202020;
			padding-bottom: 0.5rem;
		}
	}
}